<div class="page-header">
  <h2>
    <%= @playlist.user.username %>
    <small><%= @playlist.songs.count %> songs</small>
  </h2>
</div>

<%# if there are no songs in the playlist %>
  <p class="muted">
    There are no songs here.
  </p>
<%# if the playlist has songs %>
  <%# show the songs in a table. if it's the user's playlist, it should be drag-and-drop sortable %>
  <table id="playlist-songs" class="table table-striped">
    <%= render(@playlist.songs) %>
  </table>
<%# end %>

<% if is_user_playlist?(@playlist) %>
<%= form_for([ @playlist, @playlist.songs.build ], :html => { :multipart => true, :class => "form-horizontal"}) do |form| %>
  <div class="span6">
    <%# the form starts here. a song is a child-resource of a playlist. since we're uploading files: multipart %>
      <legend>
        Upload a Song
      </legend>
      <div class="control-group">
        <%= form.label :file, :class => "control-label" %>
        <div class="controls">
          <%= form.file_field :file %>
        </div>
      </div>

      <div clas="control-group">
        <div class="controls">
          <!-- div class="upload-progress"></div> -->
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
